/******* Font Imports *******/
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap');

/****************************/
/*********** Home ***********/
/****************************/

#home {
	background-image: url('./components/assets/homebg.jpg');
	background-size: cover;
	height: 100vh;
	width: 100vw;
	position: relative;
}

/****************************/
/****** Section Header ******/
/****************************/
.section-header {
	margin-left: 40px;
}

.header-title, .header-description {
	color: #fff;
	font-family: 'Noto Serif', serif !important;
}

.header-title {
	margin-bottom: 5px !important;
	font-size: 1.7em !important;
}

.header-description {
	text-align: right;
}

.header-line {
	margin-top: 2px !important;
	margin-bottom: 2px !important;
	background-color: #fff !important;
}

.header-line:first-of-type {
	margin-right: 72px;
}

.header-line:last-of-type {
	margin-left: 72px;
}

.opacity-dimmer {
	position: absolute;
	width: 100vw;
	height: 100vh;
	background-color: #efefef;
	opacity: 0.2;
}