/******* Font Imports *******/
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif&family=Squada+One&family=Alata&family=Lato&display=swap');

/****************************/
/********** html ************/
/****************************/
html {
	scroll-behavior: smooth;
}

/****************************/
/*********** Home ***********/
/****************************/
#home {
	background-image: url('./components/assets/codebg2.png');
	background-size: cover;
	background-position: center;
	min-height: 100vh;
}

/****************************/
/****** Section Header ******/
/****************************/
.section-header {
	/* margin-left: 40px; */
	margin-top: 0px;
	text-align: center;
}

#home .section-header {
	margin-top: 30px;
}

.header-title, .header-description {
	color: #fff;
	font-family: 'Noto Serif', serif !important;
}

.header-title {
	margin-bottom: 5px !important;
	font-size: 4em !important;
}

.header-description {
	font-size: 1.3em !important;
	color: #2fa52f;
	font-weight: bold !important;
}

#home .header-description {
	font-size: 2em !important;
	color: #fff;
	font-weight: normal !important;
}

.header-line {
	margin-bottom: 2px !important;
	background-color: #fff !important;
}

.header-line:first-of-type {
	margin-right: 72px;
	margin-left: 20px;
}

.header-line:last-of-type {
	margin-left: 72px;
	margin-right: 30px;
	margin-top: 6px ;
}

.opacity-dimmer {
	position: absolute;
	width: 100vw;
	height: 100vh;
	background-color: #efefef;
	opacity: 0.2;
}

/****************************/
/******** Menu Icon *********/
/****************************/
.menu-icon {
	text-align: right;
	padding: 20px 20px 0 0;
}

/****************************/
/****** Resume Button *******/
/****************************/
#resume-btn {
	/* border: 1px solid #fff; */
	color: #fff;
	z-index: 1;
	text-transform: none;
	font-family: 'Roboto', sans-serif;
	margin: 0 auto;
	font-weight: 400;
	margin-top: 90px;
	background-color: #2fa52f;
}

#btn-container {
	text-align: center;
}

/****************************/
/******* Scroll Text ********/
/****************************/
#scroll-text {
	color: #fff;
	text-align: center;
	width: 100%;
	font-size: 2em;
	font-family: 'Squada One', cursive;
	line-height: 1.2;
	margin-top: 60px;
}

/****************************/
/******* Scroll Icon ********/
/****************************/
.scroll-icon {
	text-align: center;
	width: 100%;
	bottom: 100px;
	margin-top: 10px;
	margin-bottom: 40px;
}

.scroll-icon svg {
	font-size: 40px;
	cursor: pointer;
}

#about {
	background-image: url('./components/assets/aboutbg3.jpg');
	background-size: cover;
	background-position: center;
}

#about .section-header p:first-of-type {
	color: #000;
}

#about svg {
	color: #000 !important;
}

#about-content {
	padding: 2em;
	color: #fff;
	text-align: justify;
}

#about-content p {
	font-family: 'Alata', sans-serif;
	font-size: 1.2em;
	color: #000;
}

#about img {
	max-width: 80%;
}

#connect-content {
	text-align: center;
	color: #000;
	margin: 200px 0 80px 0;
}

#scroll-icon:hover, #about img:hover {
	cursor: pointer;
}

#skills-header {
	padding-bottom: 20px;
}

#skills .section-header p:first-of-type {
	color: #000;
}

#skills img {
	max-width: 60%;
}

.skills-inner {
	margin-bottom: 10px !important;
	align-items: center;
}

#skills-icons {
	text-align: center;
	padding: 10px 10px 0 10px;
}

.long {
	max-width: 80% !important;
}

#skills {
	background-image: url('./components/assets/skillsbg3.jpg');
	background-size: cover;
    background-position: right;
}

#experience {
	background: #efefef;
}

#experience .section-header p:first-of-type {
	color: #000;
	margin-top: 30px;
}

/* * {
	background: #000 !important;
	color: #0f0 !important;
	outline: solid #f00 1px !important;
}

body {
	outline: solid #0f0 3px !important;
} */

#social-icons {
	justify-content: center;
	margin-top: 20px;
}

#exp-cards {
	margin-top: 30px;
	padding: 40px;
}

/****************************/
/********* Projects *********/
/****************************/
#projects {
	background-image: url('./components/assets/projectsbg.jpg');
}

#project-cards {
	padding: 20px;
}

#contact-form {
	text-align: center;
}

#message {
	width: calc(100% - 22px);
	padding: 10px;
	font-size: 18px;
	font-family: inherit;
	border-color: rgb(195, 195, 195);
	border-radius: 4px;
}

#contact-form button {
	margin: 7px;
}

.projects img {
	max-width: 100%;
	margin-top: 20px;
}

#publication-cards {
	margin: 20px;
}

.publications {
	padding: 20px;
}

.publications img {
	max-width: 100%;
	margin-top: 40px;
}

#publications .section-header p:first-of-type {
	color: #000;
	font-size: 3.8em !important;
}

#skills .menu-btn, #experience .menu-btn, #publications .menu-btn, #contact .menu-btn {
	color: #000 !important;
}

#contact {
	background-image: url('./components/assets/contactbg.jpg');
	background-position: center;
	background-size: cover;
	padding-bottom: 40px;
}

#contact .section-header p:first-of-type {
	color: #000;
}

#contact textarea {
	background: transparent;
}

#contact textarea:focus {
	background: #fff;
}


#skills-icons-land {
	display: none;
}

@media only screen and (min-width: 1260px) {
	#home {
		width: 100%;
	}
}

@media only screen and (min-width: 550px) {
	#connect-content {
		margin-top: 80px;
	}

	#connect-content img {
		max-width: 85%;
	}

	#social-icons .MuiGrid-grid-xs-2 {
		max-width: 60px;
	}

	#about-content {
		max-width: 60%;
		margin: 0 auto;
	}

	#about img {
		max-width: 60%;
		margin: 0 auto;
	}

	#skills-icons {
		display: none;
	}

	#skills {
		width: 100%;
	}

	
	#skills-icons-land {
		display: block;
	}

	#skills-icons-land img {
		max-width: 60px;
	}

	#skills-icons-land .long {
		max-height: 60px;
	}

	#skills-icons-land .skills-inner {
		justify-content: center;
		max-width: 80%;
		margin: 0 auto;
	}

	#skills-icons-land .skills-inner img {
		padding: 30px;
	}

	#skills {
		background: none;
	}

	#experience {
		width: 100%;
		background: url(./components/assets/expbg2.jpg);
		background-size: cover;
		background-position: top;
	}

	#exp-cards {
		max-width: 60%;
		margin: 0 auto;
	}

	.experience h2, .experience p{
		text-align: left;
	}

	#experience button {
		display: none;
	}

	#project-cards {
		max-width: 70%;
		margin: 0 auto;
	}

	#about {
		/* background: none; */
	}

	#about p:first-of-type {
		color: #000;
	}

	#home .section-header {
		margin-top: 80px;
	}

	#scroll-text {
		margin-top: 120px;
	}
}
